@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

body {
  height: 100%;
  margin: 0;
  font-family: 'Domine', serif;
}
#body-question{
  max-width: 100%;
  
  height: 100%;
  margin: 0;
  /* overflow-x: hidden; */
  background-image: url("img/french-bulldog.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.navbar {
  overflow: hidden;
  background-color: #eecd28;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 30px;  
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0,0,0,0.2);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eecd28;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#h1-main {
  font-size:50px;
  
}

.hero-image {
  background:url(img/cocker-spaniel.jpg) no-repeat center; 
  background-size: cover;
  height: 1300px;
  position: relative;
  
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 25px;
  transform: translate(-50%, -50%);
  color: #ffffff;
  border-radius: 20px; 
  
}

 .button-mainpage {
  background-color: #eecd28;
  border: none;
  color: rgb(0, 0, 0);
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
}

.button2 {
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
}
.button2:hover {
  background-color: #555;
  color: white;
}

.button-qstform {
  background-color: #eecd28;
  border: none;
  color: rgb(0, 0, 0);
}


/* .footer-questionPage {
  clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    right: -480px;
  background-color: #eeeef0;

  } */

  .footer {
    background-color: #eeeef0;
  }
/*ORIGINALLY BUTTON QUESTION PAGE CODE
  .button-questionPage {
    background-color: #eecd28;
    border: none;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    width: 20%;
    box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
  } */

 /*Kirsty had added this to try and give the submit questionnaire button a seperate class
  .button-questionPage {
  background-color: #eecd28;
      border: 1px solid #777;
      border-radius: 10px;
      font-family: inherit;
      font-size: 21px;
      color: aliceblue;
      display: block;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 20px;
  }

  .button-questionPage:hover{
    background-color: #555;
  }*/
  

li a:hover {
  background-color: #111;
}


    .form-img {

    
      /* Control the height of the image */
      /*min-height: 1000px;*/
      max-width: 100%;
    
      /* Center and scale the image nicely */
      background-position: right;
      background-repeat: no-repeat;
      background-size: cover;
      /* position: relative; */
    }

    #title-QST {
      text-align: center;
    }

    /* Styling the Form (Color, Padding, Shadow) */
    #form {
        border-radius: 25px;
        background-color: #fff;
        max-width: 500px;
        margin: 50px;
        padding: 30px 20px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
        left: 0;
        text-align:center;
        
    }

    /* Styling form-control Class */
    .form-control {
        text-align: left;
        margin-bottom: 25px;
    }

    /* Styling form-control Label */
    .form-control label {
        display: block;
        margin-bottom: 10px;
    }

    /* Styling form-control input,
    select, textarea */
    .form-control input,
    .form-control select,
    .form-control textarea {
        border: 1px solid #777;
        border-radius: 2px;
        
        padding: 10px;
        display: block;
        width: 95%;
    }

    /* Styling Button */
    button {
      background-color: #eecd28;
      border: 1px solid #777;
      border-radius: 10px;
      font-family: inherit;
      font-size: 21px;
      color: aliceblue;
      display: block;
      width: 100%;
      margin-top: 50px;
      margin-bottom: 20px;
      /*box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);*/
  }
  .button:hover {
    background-color: #555;
  }

    p {
      font-weight: bold;
  }

  *{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
  }
  
  /* body{
      padding:0;
      margin:0;
      background:#eeeef0;
     width:100%;
      height:100%;
    } */


    #wrap{
      width:70%;
      height:100%;
      background:#fff;
      display:block;
      margin:20px auto;
      min-width:300px;
    
    }
    .product_grid{
      display:none;
      float:left;
      margin-bottom:30px;
    }
    .column_1{
      width:100%;
      background:#fff;
      position:relative;
    }
    .product_img_1{
      width:100%;
      height:320px;
      background:url('img/BroccoliDog.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_2{
      width:100%;
      height:320px;
      background:url('img/CUPCAKEDOG.jpg');
      background-size:cover;
    }
    .product_img_3{
      width:100%;
      height:320px;
      background:url('img/Doge.jpg');
      background-size:cover;
    }
    .product_img_4{
      width:100%;
      height:320px;
      background:url('img/MoonMoon.png')0% 40%;
      background-size:cover;
    }
    .product_img_5{
      width:100%;
      height:320px;
      background:url('img/StaffyBoi.png')0% 40%;
      background-size:cover;
    }
    .product_img_6{
      width:100%;
      height:320px;
      background:url('img/PinkyntheBrain.png')0% 40%;
      background-size:cover;
    }
    .product_img_7{
      width:100%;
      height:320px;
      background:url('img/CoughingChihuaha.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_8{
      width:100%;
      height:320px;
      background:url('img/SmirkingChihuahua.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_9{
      width:100%;
      height:320px;
      background:url('img/LookingGoodSpringer.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_10{
      width:100%;
      height:320px;
      background:url('img/ThoughtfulDane.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_11{
      width:100%;
      height:320px;
      background:url('img/BirthdayDog.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_12{
      width:100%;
      height:320px;
      background:url('img/LazyBernard.jpg')0% 40%;
      background-size:cover;
    }
    .product_img_13{
      width:100%;
      height:320px;
      background:url('img/AdoptedDog.jpg')0% 40%;
      background-size:cover;
    }

    .product_details{
      transition:all .9s linear;
      background:rgba(0,0,0,0.3);
      position:absolute;
      bottom:0;
      width:0px;
      height:0px;
      overflow:hidden;
      opacity:0;
      color:#FFF;
    }
  .column_6:hover .product_details,
  .column_5:hover .product_details,
  .column_4:hover .product_details,
  .column_3:hover .product_details,
  .column_2:hover .product_details,
  .column_1:hover .product_details{
    width:100%;
    height:100%;
    right:0;
    opacity:1;
    padding:1em;
    
  }
  .action{
    width:50%;
    margin:10px auto;
  }
  .product_details .title,
  .product_details .price{
    font-weight:300;
    line-height:1;
  }
  a.button{
      display:inline-block;
      color:#FFF;
      background:salmon;
      margin:5px 0 0 5%;
      text-align:center;
      width:200px;
      text-decoration:none;
      padding:10px 10px;
      border-radius:2px;
      border-bottom:3px solid #ff6536;
      text-shadow:1px 1px 3px rgba(0,0,0,0.3);
    }
  .column_2{
    width:50%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_2 .action{
    width:44%;
  }

  .column_3{
    width:33.3333333%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_3 .action{
    width:75%;
    margin:10px auto;
  }
  .column_4{
    width:25%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_5{
    width:20%;
    float:left;
    position:relative;
    background:#fff;
  }
  .column_6{
    width:16.66666666667%;
    float:left;
    position:relative;
    background:#FFF;
  }
  .column_6 .action,
  .column_5 .action,
  .column_4 .action{
    width:100%;
    margin:10px auto;
  }
  .column_6 .action .button,
  .column_5 .action .button,
  .column_4 .action .button{
    width:100%;
    margin:5px 0 0 0;
  }
  
  

  @media (max-width:900px){
    .column_6{
      width:20%;
    }
  }
  @media (max-width:768px){
    .column_6,
    .column_5{
      width:25%;
    }
    .product_desc{
      display:none;
    }
  }
  @media (max-width:600px){
    .column_6,
    .column_5,
    .column_4{
      width:33.3333333333%;
    }
  
    .product_details{
      display:block;
      opacity:1;
      width:100%;
      height:100%;
      padding:1em;
      position:relative;
  }

  .column_1 .action,
  .column_2 .action{
    width:100%;
    margin:10px auto;
  }
  
  .column_2 .action .button,
  .column_1 .action .button{
    width:100%;
    margin:5px 0 0 0;
  }
  @media (max-width:500px){
    
    .column_2{
      width:100%;
    }
  }
}


#body-adoption  {
  background-color: #fff1ace8;
}

#h1-adoption {
  padding-top: 20px;
  text-align:center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 20vw);
  grid-gap: 15px;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Container holding the image and the text */
.Gallery-container {
  position: relative;
}

/* Bottom right text */
.text-block1 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: #eecd28;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}

.text-block2 {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #eecd28;
  color: rgb(0, 0, 0);
  padding-left: 20px;
  padding-right: 20px;
}
/* .paragraph {
  width: auto;
  text-align: center;
  background-color: #e49f00;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
} */

/* CSS About */

#about {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;  
}

#h2-about {
  text-align:center
}

#ourTeam{
  text-align:center
}

*#body-about, *#body-about:before, *#body-about:after {
  box-sizing: inherit;
}

#body-about {
  max-width: 100%;
  background-color: #fff1ace8;
}
.column-about {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card-about {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #fff1ace8;
  color: black;
}

.container-about {
  padding: 0 16px;
  
}




.container-about::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

#about-img {
  width: 100%;
  height: 400px;
  background-color: #6154f0;
}

.title-about {
  color: rgb(128, 128, 128);
}

.button-about {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #9c8823;
  text-align: center;
  cursor: pointer;
  width: 100%;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
}

.button-about:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* CSS Contact */

  #body-contact {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(113, 231, 182);
    background:url(img/officedog1.jpg) no-repeat center; 
    background-size: cover;
    height: 1300px; 
    position: relative;
    
}

#title-contact {
  text-align: center;
  font-size: 25px;
}
  #contactdiv {
    /* width: auto; */
    
    text-align: center;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    color: black;
}
  
.container-contact {
  
  /*border-radius: 5px;
  background-color: #eeeef0;
  float: left;*/
  border-radius: 25px;
  background-color: #fff;
  max-width: 35%;
  margin: 50px;
  /*padding: 30px 20px;
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;*/
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
  /*left: 0;*/
  text-align: left;
  
  
  /* padding: 20px; */
}

/* Create two columns that float next to eachother */
/* .column-contact {
  float: left;
  width: 50%;
  margin-top: 6px; 
  padding: 20px; 
  background-color: #090606;
 }  */

/*Clear floats after the columns 
.row::after {
  content: "";
  display: table;
  clear: both;
  max-width: 50px;
}*/

/*#highlight  {
 background-color:rgb(145, 185, 0);
  padding: 8px;
}*/

.input-contact[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #646c74;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px #000000;  
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

#subject  {
  height: 200px;
}

#form-contact {
  border-radius: 25px;
  background-color: #fff;
  max-width: 500px;
  margin: 50px;
  /*padding: 30px 20px;*/
  padding-top: 30px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
  float:left;
  /*left: 0;
  text-align: center;*/
  /*max-width: 600px;
float: left;
margin: auto 200px;*/
}

.button-submit {
  /*Button styling*/
 background-color: #eecd28;
 border:none;
 border-radius: 15px;
 font-family: inherit;
 font-size: 20px;
 color: rgb(0, 0, 0);
 box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
}
.button-submit:hover {
 background-color: #555;
 color: white;
}

.button-reset {
  /*Button styling*/
  background-color: #eecd28;
  border:none;
  border-radius: 15px;
  font-family: inherit;
  font-size: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 2px 5px 10px rgb(0 0 0 / 50%);
}

.button-reset:hover {
  background-color: #555;
  color: white;
}




/* Footer */

.footer {
  position: relative;
  clear: both;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(38, 30, 0);
  color: white;
  text-align: center;
  padding-top:10px;
}

#footer-question {
  position: fixed;
  clear: both;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(38, 30, 0);
  color: white;
  text-align: center;
  padding-top:10px;
  
}