
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
li a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

body {

    background-color: grey;
}

/* Styling the Body element i.e. Color,
        Font, Alignment */
        body {
          padding-top: 20px;
          background-color: #8f9fd7;
          font-family: Verdana;
          text-align: center;
      }

      /* Styling the Form (Color, Padding, Shadow) */
      form {
          border-radius: 25px;
          background-color: #fff;
          max-width: 500px;
          margin: 50px auto;
          padding: 30px 20px;
          box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
      }

      /* Styling form-control Class */
      .form-control {
          text-align: left;
          margin-bottom: 25px;
      }

      /* Styling form-control Label */
      .form-control label {
          display: block;
          margin-bottom: 10px;
      }

      /* Styling form-control input,
      select, textarea */
      .form-control input,
      .form-control select,
      .form-control textarea {
          border: 1px solid #777;
          border-radius: 2px;
          font-family: inherit;
          padding: 10px;
          display: block;
          width: 95%;
      }

      /* Styling Button */
      button {
        background-color: #6154f0;
        border: 1px solid #777;
        border-radius: 10px;
        font-family: inherit;
        font-size: 21px;
        color: aliceblue;
        display: block;
        width: 100%;

        margin-top: 50px;
        margin-bottom: 20px;
    }


      /* Flexbox from Adoption */
      .parent {
        height: 500px;
        display: flex;
        flex-direction: row;
       background-color: hotpink;
        justify-content: space-evenly;
        align-content: center;
    }
   
    
    .child {
        width: 100px;
        height: 100px;
        /* background-color: aquamarine; */
        padding-right: 1rem;
        display: none;
    }

      .div1  {
        background-color: red;
          
    }

      .div2  {
        background-color: lightblue;
    }

      .div3  {
        background-color: greenyellow;
        padding-right: 0;
    }

      img {
        width: 100px;
        height: 100px;
    }

      #bodyflex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

      

      .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: pink;
        justify-content: space-between;
    }

      .show-introvert .div1 {
        width: 100px;
        height: 100px;
        background-color: aquamarine;
        padding-right: 1rem;
    }